{% extends "layout.html" %}

{% block title %}
    cart
{% endblock %}

{% block main %}

<div class="row">

    <div class="col-lg-8 cart-image-side">
        <table class="left_side">
            <h4 class="cart-heading">Your shopping cart</h4>
            <tr>
                <td>image</td>
                <td>name</td>
                <td>Quantity/button</td>
                <td>Price</td>
            </tr>

        </table>
    </div>

        <div class="col-lg-4 cart_left_div">
            <table class="cart_table">
                <tr>
                    <td class="subtotal">Subtotal:</td>
                    <td class="cost subtotal">$8.97</td>
                </tr>
                <tr>
                   <td>Shipping:</td>
                   <td class="cost">$5.97</td>
                </tr>
                <tr>
                    <td>Handling fee:</td>
                    <td class="cost">$5.00</td>
                </tr>
                <tr>
                    <td>13% HST</td>
                    <td class="cost">$2.48</td>
                </tr>
                <tr>
                    <td class="subtotal">Estimated total:</td>
                    <td class="cost subtotal">$21.52</td>
                </tr>
            </table>
            <a href="/checkout" class="btn btn-primary cart_button" type="submit">Proceed to checkout</a>
        </div>

    </div>
</div>
{% endblock%}