{% extends "layout.html" %}

{% block title %}
    change_password
{% endblock %}

{% block main %}
    <h5 class="h5">Change Your Password</h5>
    <form action="/change_password" method="post">
      <div class="form-group">
        <input type="password" class="form-control" id="current_password" name="password"placeholder="current password" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputEmail1" name="newPassword" placeholder="new password"aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">Password should contain atleast six characters and one number.</small>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" name="confirmPassword" placeholder="comfirm password" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
