{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
  <main role="main">
    <div class="row">
      <div id="hero-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#hero-carousel" data-slide-to="1"></li>
          <li data-target="#hero-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" alt="ttest" src="https://i5.walmartimages.com/dfw/4ff9c6c9-3383/k2-_31b37fd4-b177-45d3-9d77-b4fd7611c290.v1.jpg?odnWidth=1360&odnHeight=410&odnBg=ffffff">
            <div class="carousel-caption back-to-school-carousel-caption d-none d-md-block slide_one">
              <p>Back to school.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-71bc/k2-_9345b536-9087-420a-b63b-6e1869f72700.v1.jpg?odnWidth=1360&amp;odnHeight=410&amp;odnBg=ffffff" class="d-block w-100" alt="electronics">

            <div class="carousel-caption back-to-school-carousel-caption d-none d-md-block slide_two">
              <p>Hot electronics.</p>
            </div>
          </div>
          <div class="carousel-item">
             <img src="http://i5.walmartimages.com/dfw/4ff9c6c9-4022/k2-_2ddb35a6-d17a-4cd7-b564-ded0c80a49a0.v1.jpg?odnWidth=1360&amp;odnHeight=410&amp;odnBg=ffffff" class="d-block w-100" alt="Beauty products">

            <div class="carousel-caption back-to-school-carousel-caption d-none d-md-block slide_three">
              <p>Love your skin.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row round_buttons">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </main>
{% endblock%}